<div class="headerBetaAbout">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtn">Blog</span></a>
				<a href="/"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="/"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="sectionHeader white">Our Mission</div>
		<div class="sectionSubHeader lightWhite">To become the go-to platform for discovering local stores, products and services in the lifestyle domain.</div>
		<img src="img/assets/trending-mob.png" class="phonecut cut1">
		<img src="img/assets/map-mob.png" class="phonecut cut2">
		<img src="img/assets/store-mob.png" class="phonecut cut3">
	</div>
</div>
<div class="section storeSection">
	<div class="wrapper">
		<div class="sectionHeader">What is Klassy?</div>
		<div class="sectionSubHeader">Klassy is a web and mobile based platform that enables discovery of local stores and services for the Lifestyle Sector.</div>
		<div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/userIcon.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">For You</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">We enable quick and easy local discovery. Everything you need to know about local businesses in one place.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/storeIcon.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">For Business</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">Our platform increases your outlet's footfall and improves brand presence. It's simple and  completely free.</span>
				</div>
		</div>
		<div class="extraLarge"></div>
	</div>
</div>
<div class="section userSection">
	<div class="wrapper">
		<div class="sectionHeader white">Our Core Team</div>
		<div class="sectionSubHeader"></div>
		<div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/mayur.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Mayur More</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Chief Executive Officer <br/>& Co-Founder</span><br/>
					<a href="http://twitter.com/mayur404"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div><div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/neeraj.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Neeraj Shetty</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Chief Technology Officer <br/>& Co-Founder</span><br/>
					<a href="https://twitter.com/neerajshetty121"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div><div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/puneet.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Puneet Kohli</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Chief Business Officer <br/>& Co-Founder</span><br/>
					<a href="http://twitter.com/punkohl"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div><div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/aditya.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Aditya More</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Chief Design Officer <br/>& Co-Founder</span><br/>
					<a href="https://twitter.com/adityanmore"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div><div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/arun.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Arun Swaminathan</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Chief Architect <br/>& Co-Founder</span><br/>
					<a href="https://twitter.com/_Arun94"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div><div class="storeFeature lessPadding">
				<div class="storeFeatureDetail center">
					<img src="img/profile/jayant.jpg" class="profileImg"><br/>
					<span class="userFeatureHeader">Jayant Rao</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader bold">Branding and Design Consultant</span><br/>
					<a href="https://twitter.com/bboy_jay"><img src="img/social/twitter-mini.png" class="twitterLink"></a>
				</div>
			</div>
</div>
</div>
<div class="section storeSection">
	<div class="wrapper">
		<div class="sectionHeader">The Problem!</div>
		<div class="sectionSubHeader">Getting to know what's available locally is a pain. A single platform to discover and get complete details of a local place does not exist. Current platforms are fragmented and try to solve only parts of the problem.<br>Local businesses haven't leveraged omni-channel strategies, that is, using the online world to influence real world decisions.</div>
		<div class="sectionHeader">Our Solution!</div>
		<div class="sectionSubHeader">A complete "go-to" platform for local lifestyle discovery. Utilizing the latest technology combined with our high quality curated content to create a new era network of consumers and businesses.</div>
	</div>
</div>
<div class="section userSection">
	<div class="wrapper">
		<div class="sectionHeader white">Features</div>
		<div class="sectionSubHeader">Klassy gives you the power to make smarter and more informed decisions about your local spending with our amazing featureset.</div>
		<div class="userFeatureContainer">
			<div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/8.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Trending Nearby</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Get to know what's hip and happening in your locality - fashion trends, new openings and more!</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/2.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Map Based Search</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Intuitive map based interface to search for products, services and stores.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/6.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Coupons & Offers</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Check out offers from nearby brands and get location based recommendations.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/4.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Chat with Brands</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Use our messaging service to directly get in touch with brands for quick enquiries.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/5.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Product Showcase</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Save time shop hopping by viewing products and services in the online showcase.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/1.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Quality Listings</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">All of our data is complete, consise, correct and curated. No need to look elsewhere.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/3.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Create Collections</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Instantly create and manage collections. Example, 'Best Shades for this Summer'</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/7.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader">Awesome Community</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader">Follow stores, upvote collections and be a part of an awesome community!</span>
				</div>
			</div>
		</div>
</div>
</div>
<div class="section storeSection">
	<div class="wrapper">
		<div class="sectionHeader">Klassy for Business!</div>
		<div class="sectionSubHeader">You get more customers, boosted sales, an online presence and cost-free marketing. All for Free. It's a win-win, don't miss out - give it a go.</div>
		<div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/1.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">Complete Control</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">View and manage your complete profile through the Dashboard web and mobile applications.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/2.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">In Depth Analytics</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">Get view statistics, track your reach and get to know your customers better through our analytics tools.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/4.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">Brand Visibility</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">By listing with us, your brand is getting more visibility, reach and exposure. We help your brand grow.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/6.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">Free of Charge</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">Registering and listing with us is completely FREE. We'll set everything up for you, no hassle involved.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/5.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">Customer Engagement</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">Engage with customers in various ways on our platform and get users to 'follow' and 'upvote' your brand.</span>
				</div>
		</div><div class="storeFeature">
				<div class="storeFeaturerImgContainer">
					<img class="storeFeatureImg" src="img/business/3.png">
				</div><div class="storeFeatureDetail">
					<span class="storeFeatureHeader">Increased Footfall</span><br/>
					<div class="extra"></div>
					<span class="storeFeatureSubHeader">We help you drive traction to your store. Your online presence here increases your offline sales and growth.</span>
				</div>
		</div>
		<div class="extraLarge"></div>
		<div class="storeSignInline">
				<img class="dashboardImg" src="img/assets/dashboard.png">
		</div>
	</div>
</div>
<div class="section userSection">
	<div class="wrapper">
		<div class="sectionHeader white">Our Tech Stack : We Love Technology!</div>
		<div class="sectionSubHeader">Technology is at the core of our product. Here's what we've used to make it possible!</div>
		<div class="sectionHeader white smallHeader">Application and Data</div>
		<a target="_blank" href="http://parse.com"><span class="techStack">Parse Core</span></a>
		<a target="_blank" href="https://angularjs.org"><span class="techStack">Angular</span></a>
		<a target="_blank" href="http://aws.amazon.com/ec2"><span class="techStack">Amazon EC2</span></a>
		<a target="_blank" href="http://java.com"><span class="techStack">Java</span></a>
		<a target="_blank" href="https://parse.com/products/push"><span class="techStack">Parse Push</span></a>
		<div class="sectionHeader white smallHeader">Business Tools</div>
		<a target="_blank" href="https://slack.com/"><span class="techStack">Slack</span></a>
		<a target="_blank" href="https://asana.com/"><span class="techStack">Asana</span></a>
		<a target="_blank" href="http://mailchimp.com/"><span class="techStack">MailChimp</span></a>
		<div class="sectionHeader white smallHeader">Utilities</div>
		<a target="_blank" href="http://www.google.co.in/analytics/"><span class="techStack">Google Analytics</span></a>
		<a target="_blank" href="http://github.com"><span class="techStack">Github</span></a>
		<a target="_blank" href="http://aws.amazon.com/route53"><span class="techStack">Amazon Route 53</span></a>
	</div>
</div>
<div class="section storeSection">
	<div class="wrapper">
		<div class="sectionHeader">Did we get your attention?</div>
		<div class="sectionSubHeader">We'd love to hear your suggestions and feedback. Don't hesitate to get in touch, we're just a mail away!</div>
		<span class="sectionSubHeader">Drop us a email</span><br/>
		<a class="bigA" href="">contact@klassy.in</a>
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<a href="https://www.facebook.com/getklassy" target="_blank"><img src="img/social/facebook.png" class="socialIcon"></a>
			<a href="https://twitter.com/getKlassy" target="_blank"><img src="img/social/twitter.png" class="socialIcon"></a>
			<a href="https://www.linkedin.com/company/klassy" target="_blank"><img src="img/social/linkedin.png" class="socialIcon"></a>
			<a href="https://www.crunchbase.com/organization/klassy" target="_blank"><img src="img/social/crunchbase.png" class="socialIcon"></a>
			<a href="https://angel.co/klassy" target="_blank"><img src="img/social/angellist.png" class="socialIcon"></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://klassy.in/blog" target="_blank"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>