<div class="headerBeta">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtn">Blog</span></a>
				<a href="/"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="/"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="http://klassy.in/bloglog" target="_blank"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="sectionHeader white">Sign up for our beta program</div>
		<div class="sectionSubHeader lightWhite">Get early access to our offerings by signing in with your Facebook account.</div>
		<div class="userSignInline withoutLine" ng-hide="userSignedUp">
				<span class="signUpFacebook facebookColor" ng-click="handleLogin()" nalytics-on="click" analytics-event="User SignUp" analytics-category="Commands">Join using Facebook</span>
				<div class="extraLarge"></div>
		</div>
		<div class="userSignInlineComplete withoutLine" ng-show="userSignedUp">
			<div class="extraLarge"></div>
			<span class="userSignInlineMessage white">{{signUpSuccess}}</span><br/>
			<div class="extra"></div>
			<span class="userSignInlineSubMessage white">Meanwhile let your Friends know about Klassy</span><br/>
			<div class="extraLarge"></div>
			<span class="shareFacebook" ng-click="shareToFb()" analytics-on="click" analytics-event="Share Fb">Share</span><a class="twitter-share-button" analytics-on="click" analytics-event="Share Twitter" href="https://twitter.com/share" data-related="twitterdev" data-text="Klassy - Discover and engage with local stores and service providers. Check It Out:" data-url="http://klassy.in" data-hashtags="klassy" data-size="large" data-count="none">Tweet</a>
		</div>
	</div>
</div>
<div class="section">
	<div class="wrapper">
		<div class="sectionHeader">Our Value Proposition</div>
		<div class="sectionSubHeader sText">Klassy aims to be the go-to platform for local lifestyle discovery and engagement by offering you a variety of features and services.</div>
		<div class="userFeatureContainer">
			<div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b8.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Trending Nearby</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Get to know what's hip and happening in your locality - fashion trends, new openings and more!</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b2.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Map Based Search</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Intuitive map based interface to search for products, services and stores.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b6.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Coupons & Offers</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Check out offers from nearby brands and get location based recommendations.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b4.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Chat with Brands</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Use our messaging service to directly get in touch with brands for quick enquiries.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b5.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Product Showcase</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Save time shop hopping by viewing products and services in the online showcase.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b1.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Quality Listings</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">All of our data is complete, consise, correct and curated. No need to look elsewhere.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b3.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Create Collections</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Instantly create and manage collections. Example, 'Best Shades for this Summer'</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b7.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Awesome Community</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Follow stores, upvote collections and be a part of an awesome community!</span>
				</div>
			</div>
		</div>
</div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<a href="https://www.facebook.com/getklassy" target="_blank"><img src="img/social/facebook.png" class="socialIcon"></a>
			<a href="https://twitter.com/getKlassy" target="_blank"><img src="img/social/twitter.png" class="socialIcon"></a>
			<a href="https://www.linkedin.com/company/klassy" target="_blank"><img src="img/social/linkedin.png" class="socialIcon"></a>
			<a href="https://www.crunchbase.com/organization/klassy" target="_blank"><img src="img/social/crunchbase.png" class="socialIcon"></a>
			<a href="https://angel.co/klassy" target="_blank"><img src="img/social/angellist.png" class="socialIcon"></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://klassy.in/blog" target="_blank"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>
<div class="alertContainer" ng-show="noFbEmail">
	<div class="alertBox">
		<div class="alertTitle">Sorry! But we were unable to access your email through Facebook. Please Enter your Email Id</div>
		<form novalidate name="userForm" ng-submit="userForm.$valid && setUserEmail(userEmail)">
			<input class="alertEmailInput" required="required" type="email" placeholder="Enter your email id" ng-model="userEmail">
			<div class="alertDone"><input type="submit" name="submitButton" value="Add" class="alertDoneBtn"></div>
		</form>
		<img src="img/cross.png" class="cancelAlert" ng-click="declineEmail()">
	</div>
</div>
<div class="alertContainer" ng-show="emailTaken">
	<div class="alertBox">
		<div class="alertTitle">Sorry! The Email <span class="spanEmail">{{invalidEmail}} </span> is already associated with another account. Please Enter an Alternative Email</div>
		<form novalidate name="ownerForm" ng-submit="ownerForm.$valid && setUserEmail(ownerEmail)">
			<input class="alertEmailInput" required="required" type="email" placeholder="Enter your email id" ng-model="ownerEmail">
			<div class="alertDone"><input type="submit" name="submitButton" value="Add" class="alertDoneBtn"></div>
		</form>
		<img src="img/cross.png" class="cancelAlert" ng-click="ownerDecline()">
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
	    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  	});
</script>