<div class="headerBeta">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtn">Blog</span></a>
				<a href="/"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="/"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="sectionHeader white">Frequently Asked Questions</div>
	</div>
</div>
<div class="section faqSection">
	<div class="wrapper">
		<div class="faqContainer">
			<div class="question">What is Klassy?</div>
			<div class="answer">Klassy is a web and mobile portal designed to futfill all your local lifestyle needs. You can read more about it on our <a href="about"> About Us</a> page.</div>
		</div>
		<div class="faqContainer">
			<div class="question">Where do you get your information from?</div>
			<div class="answer">We have a business development team that is always on the go gathering information and fostering new partnerships with local businesses. Once the business is listed on our platform, they are the sole managers of their profile on Klassy.</div>
		</div>
		<div class="faqContainer">
			<div class="question">Are all businesses around me listed?</div>
			<div class="answer">If the business is in the Lifestyle sector, it is our priority to get them onboard. As a new startup, we may not have all the businesses in your locality listed. In that case, you can request a listing by dropping a mail at contact@klassy.in</div>
		</div>
		<div class="faqContainer">
			<div class="question">Why do you require login from Facebook?</div>
			<div class="answer">It removes the hassle for you to create another account and remember your login details. Plus, using Facebook we get your email and name without having to ask you for it. We never post on your behalf without asking you.</div>
		</div>
		<div class="faqContainer">
			<div class="question">Are all product listings up to date?</div>
			<div class="answer">Business owners are in complete control of their online profile. They decide which products to list and which to not. We constantly stay in touch with our partners to make sure their details are up to date. In case you wish to verify, you can use the 'message' feature to message a business owner about the same. If you face any issues with a particular store or business, you can contact us at contact@klassy.in</div>
		</div>
		<div class="faqContainer">
			<div class="question">I claimed a coupon on Klassy, until when is it valid?</div>
			<div class="answer">Some coupons have an end date specified on them. If the coupon does not have an end date specified it is a perrenial coupon that would work all year round.</div>
		</div>
		<div class="faqContainer">
			<div class="question">How do I redeem a coupon claimed on Klassy?</div>
			<div class="answer">Coupon redemptions can only be done through the Klassy mobile app. When making an in-store purchase, show the business owner your coupon to redeem it.</div>
		</div>

		<div class="faqContainer">
			<div class="question">How can I purchase a product through Klassy?</div>
			<div class="answer">Currently we do not support online payments but we will soon - both pickup and delivery. At the moment, you can contact a business owner and ask to reserve a product, and go pick it up later. Don't forget to redeem any coupons which you might have gotten through the app!</div>
		</div>
		<div class="faqContainer">
			<div class="question">How can I request to list my business?</div>
			<div class="answer">You can submit your details <a href="business">here</a> and someone from our team will get back to you for further communication.</div>
		</div>
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<a href="https://www.facebook.com/getklassy" analytics-on="click" analytics-event="Facebook Link" analytics-category="Social" target="_blank"><img src="img/social/facebook.png" class="socialIcon"></a>
			<a href="https://twitter.com/getKlassy" analytics-on="click" analytics-event="Twitter Link" analytics-category="Social" target="_blank"><img src="img/social/twitter.png" class="socialIcon"></a>
			<a href="https://www.linkedin.com/company/klassy" analytics-on="click" analytics-event="LinkedIn Link" analytics-category="Social" target="_blank"><img src="img/social/linkedin.png" class="socialIcon"></a>
			<a href="https://www.crunchbase.com/organization/klassy" analytics-on="click" analytics-event="CrunchBase Link" analytics-category="Social" target="_blank"><img src="img/social/crunchbase.png" class="socialIcon"></a>
			<a href="https://angel.co/klassy" analytics-on="click" analytics-event="AngelList Link" analytics-category="Social" target="_blank"><img src="img/social/angellist.png" class="socialIcon"></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://klassy.in/blog" target="_blank"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>