<div class="header">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtn">Blog</span></a>
				<a href="/"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="/"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="headerTitle">Discover places around you to fulfill all your lifestyle needs</div>
		<div class="signUpTitle"><span class="signUpText">EARLY ACCESS</span></div>
		<div class="lowerBorder"></div>
		<div class="extraMedium"></div>
		<div class="signUpContainer">
			<a href="beta"><div class="signUp"><span class="signUpBtn">Join the Beta</span></div></a>
			<a href="business"><div class="signUp"><span class="signUpBtn">List my Business</span></div></a>
		</div>
		<img class="screenshot" src="img/screenshot.png">
	</div>
</div>

<div class="section" analytics-on="scrollby" analytics-event="Catalog" analytics-category="Visibility">
	<div class="wrapper">
		<div class="sectionHeader">The complete lifestyle catalog</div>
		<div class="sectionSubHeader">Our listings include shops and service providers in your area from six major verticals.<br/>Window Shopping? <span class="purple">Covered.</span> Looking for a gym? <span class="purple">Sorted.</span> Want to go to the spa? <span class="purple">Done.</span> </div>
		<div class="catContentBox">
			<img class="catContentImg" src="img/cat/dark/1.png">
			<div class="catContentTitle">Clothing</div>
		</div><div class="catContentBox">
		<img class="catContentImg" src="img/cat/dark/3.png">
		<div class="catContentTitle">Accessories</div>
	</div><div class="catContentBox">
	<img class="catContentImg" src="img/cat/dark/2.png">
	<div class="catContentTitle">Footwear</div>
</div><div class="catContentBox">
<img class="catContentImg" src="img/cat/dark/5.png">
<div class="catContentTitle">Beauty & Cosmetics</div>
</div><div class="catContentBox">
<img class="catContentImg" src="img/cat/dark/4.png">
<div class="catContentTitle">Fitness & Sports</div>
</div><div class="catContentBox">
<img class="catContentImg" src="img/cat/dark/6.png">
<div class="catContentTitle">Home & Decor</div>
</div>
</div>
</div>
<div class="section userSection" analytics-on="scrollby" analytics-event="Value Proposition" analytics-category="Visibility">
	<div class="wrapper">
		<div class="sectionHeader white">Our Value Proposition</div>
		<div class="sectionSubHeader">Klassy aims to be the go-to platform for local lifestyle discovery and engagement by offering you a variety of features and services.</div>
		<div class="userFeatureContainer">
			<div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/8.png">
				</div><div class="userFeatureDetail">
				<span class="userFeatureHeader">Trending Nearby</span><br/>
				<div class="extra"></div>
				<span class="userFeatureSubHeader">Get to know what's hip and happening in your locality - fashion trends, new openings and more!</span>
			</div>
		</div><div class="userFeature">
		<div class="userFeaturerImgContainer">
			<img class="userFeatureImg" src="img/beta/2.png">
		</div><div class="userFeatureDetail">
		<span class="userFeatureHeader">Map Based Search</span><br/>
		<div class="extra"></div>
		<span class="userFeatureSubHeader">Intuitive map based interface to search for products, services and stores.</span>
	</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/6.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Coupons & Offers</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">Check out offers from nearby brands and get location based recommendations.</span>
</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/4.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Chat with Brands</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">Use our messaging service to directly get in touch with brands for quick enquiries.</span>
</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/5.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Product Showcase</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">Save time shop hopping by viewing products and services in the online showcase.</span>
</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/1.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Quality Listings</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">All of our data is complete, consise, correct and curated. No need to look elsewhere.</span>
</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/3.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Create Collections</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">Instantly create and manage collections. Example, 'Best Shades for this Summer'</span>
</div>
</div><div class="userFeature">
<div class="userFeaturerImgContainer">
	<img class="userFeatureImg" src="img/beta/7.png">
</div><div class="userFeatureDetail">
<span class="userFeatureHeader">Awesome Community</span><br/>
<div class="extra"></div>
<span class="userFeatureSubHeader">Follow stores, upvote collections and be a part of an awesome community!</span>
</div>
</div>
<div class="userSignInline" ng-hide="userSignedUp">
	<div class="extraLarge"></div>
	<span class="userSignInlineMessage">Sign Up for Beta Now to get Early Access</span><br/>
	<div class="extraLarge"></div>
	<span class="signUpFacebook" analytics-on="click" analytics-event="User SignUp" analytics-category="Registration" ng-click="handleLogin()">Sign Up With Facebook</span>
</div>
<div class="userSignInlineComplete" ng-show="userSignedUp">
	<div class="extraLarge"></div>
	<span class="userSignInlineMessage">{{signUpSuccess}}</span><br/>
	<div class="extra"></div>
	<span class="userSignInlineSubMessage">Meanwhile let your Friends know about Klassy</span><br/>
	<div class="extraLarge"></div>
	<span class="shareFacebook" analytics-on="click" analytics-event="Share Fb" analytics-category="Social" ng-click="shareToFb()">Share</span><a class="twitter-share-button" analytics-on="click" analytics-event="Share Twitter" analytics-category="Social" href="https://twitter.com/share" data-related="twitterdev" data-text="Klassy - Discover and engage with local stores and service providers. Check It Out:" data-url="http://klassy.in" data-hashtags="klassy" data-size="large" data-count="none">Tweet</a>
</div>
</div><div class="phoneImgContainer">
<img class="phoneImg" src="img/assets/mobnew.png">
<div class="fader">
	<img class="sliderImg" src="img/assets/trending.png">
	<img class="sliderImg" src="img/assets/map.png">
	<img class="sliderImg" src="img/assets/showcase.png">
	<img class="sliderImg" src="img/assets/coupons.png">
	<img class="sliderImg" src="img/assets/collections.png">
	<img class="sliderImg" src="img/assets/chat.png">
</div>
</div>
</div>
</div>
<div class="section storeSection" analytics-on="scrollby" analytics-event="Why List" analytics-category="Visibility">
	<div class="wrapper">
		<div class="sectionHeader">Why list your business with us?</div>
		<div class="sectionSubHeader">You get more customers, boosted sales, an online presence and cost-free marketing. All for Free. It's a win-win, don't miss out - give it a go.</div>
		<div class="storeFeature">
			<div class="storeFeaturerImgContainer">
				<img class="storeFeatureImg" src="img/business/6.png">
			</div><div class="storeFeatureDetail">
			<span class="storeFeatureHeader">Free of Charge</span><br/>
			<div class="extra"></div>
			<span class="storeFeatureSubHeader">Registering and listing with us is completely FREE. We'll set everything up for you, no hassle involved.</span>
		</div>
	</div><div class="storeFeature">
	<div class="storeFeaturerImgContainer">
		<img class="storeFeatureImg" src="img/business/1.png">
	</div><div class="storeFeatureDetail">
	<span class="storeFeatureHeader">Complete Control</span><br/>
	<div class="extra"></div>
	<span class="storeFeatureSubHeader">View and manage your complete profile through the Dashboard web and mobile applications.</span>
</div>
</div><div class="storeFeature">
<div class="storeFeaturerImgContainer">
	<img class="storeFeatureImg" src="img/business/2.png">
</div><div class="storeFeatureDetail">
<span class="storeFeatureHeader">In Depth Analytics</span><br/>
<div class="extra"></div>
<span class="storeFeatureSubHeader">Get view statistics, track your reach and get to know your customers better through our analytics tools.</span>
</div>
</div><div class="storeFeature">
<div class="storeFeaturerImgContainer">
	<img class="storeFeatureImg" src="img/business/4.png">
</div><div class="storeFeatureDetail">
<span class="storeFeatureHeader">Brand Visibility</span><br/>
<div class="extra"></div>
<span class="storeFeatureSubHeader">By listing with us, your brand is getting more visibility, reach and exposure. We help your brand grow.</span>
</div>
</div><div class="storeFeature">
<div class="storeFeaturerImgContainer">
	<img class="storeFeatureImg" src="img/business/5.png">
</div><div class="storeFeatureDetail">
<span class="storeFeatureHeader">Customer Engagement</span><br/>
<div class="extra"></div>
<span class="storeFeatureSubHeader">Engage with customers in various ways on our platform and get users to 'follow' and 'upvote' your brand.</span>
</div>
</div><div class="storeFeature">
<div class="storeFeaturerImgContainer">
	<img class="storeFeatureImg" src="img/business/3.png">
</div><div class="storeFeatureDetail">
<span class="storeFeatureHeader">Increased Footfall</span><br/>
<div class="extra"></div>
<span class="storeFeatureSubHeader">We help you drive traction to your store. Your online presence here increases your offline sales and growth.</span>
</div>
</div>
<div class="extraLarge"></div>
<div class="storeSignInline">
	<div class="storeIncomplete" ng-hide="storeSignedUp">
		<div class="extraLarge"></div>
		<span class="storeSignInlineMessage">Register Now to List your Business</span><br/>
		<div class="extraLarge"></div>
		<form novalidate name="storeForm" ng-submit="storeForm.$valid && storeRequest()">
			<div class="storeInputContainer">
				<select ng-model="store.city" class="storeInput">
					<option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
				</select>
			</div><div class="storeInputContainer">
			<input class="storeInput" placeholder="Name *" name="ownerName" type = "text" required="required" ng-model="store.ownerName">
		</div><div class="lineBreak"><br/></div><div class="storeInputContainer">
		<input class="storeInput" placeholder="Business Name *" name="storeName" type = "text" required="required" ng-model="store.storeName">
	</div><div class="storeInputContainer">
	<input class="storeInput" placeholder="Phone Number *" name="phoneNumber" type = "phone" required="required" ng-model="store.phone" pattern="[0-9]{10,11}">
</div>
<div class="callBack"><input type="submit" class="callBackBtn" value="Call me Back" analytics-on="click" analytics-event="Business Request" analytics-category="Registration">
</form>
</div>
<div class="storeComplete" ng-show="storeSignedUp">
	<div class="extraLarge"></div>
	<span class="storeSignInlineMessage">Thanks for Registering with us!</span><br/><br/>
	<span class="storeSignInlineSubMessage">Our Data Collection Team will contact you soon!<br/> For any further queries drop us a email at <a href="">business@klassy.in</a></span><br/>
	<div class="extraLarge"></div></div>
</div>
<img class="dashboardImg" src="img/assets/dashboard.png">
</div>
</div>
</div>
<div class="section problem">
	<div class="sectionSubHeader mission"><br>Currently we are in Beta, and testing on the Web. <br>Android and iOS Coming soon.<br><br> For queries drop us an email at <span class="primary">contact@klassy.in</span></div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<a href="https://www.facebook.com/getklassy" analytics-on="click" analytics-event="Facebook Link" analytics-category="Social" target="_blank"><img src="img/social/facebook.png" class="socialIcon"></a>
			<a href="https://twitter.com/getKlassy" analytics-on="click" analytics-event="Twitter Link" analytics-category="Social" target="_blank"><img src="img/social/twitter.png" class="socialIcon"></a>
			<a href="https://www.linkedin.com/company/klassy" analytics-on="click" analytics-event="LinkedIn Link" analytics-category="Social" target="_blank"><img src="img/social/linkedin.png" class="socialIcon"></a>
			<a href="https://www.crunchbase.com/organization/klassy" analytics-on="click" analytics-event="CrunchBase Link" analytics-category="Social" target="_blank"><img src="img/social/crunchbase.png" class="socialIcon"></a>
			<a href="https://angel.co/klassy" analytics-on="click" analytics-event="AngelList Link" analytics-category="Social" target="_blank"><img src="img/social/angellist.png" class="socialIcon"></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://klassy.in/blog" target="_blank"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>

<div class="alertContainer" ng-show="noFbEmail">
	<div class="alertBox">
		<div class="alertTitle">Sorry! But we were unable to access your email through Facebook. Please Enter your Email Id</div>
		<form novalidate name="userForm" ng-submit="userForm.$valid && setUserEmail(userEmail)">
			<input class="alertEmailInput" required="required" type="email" placeholder="Enter your email id" ng-model="userEmail">
			<div class="alertDone"><input type="submit" name="submitButton" value="Add" class="alertDoneBtn"></div>
		</form>
		<img src="img/cross.png" class="cancelAlert" ng-click="declineEmail()">
	</div>
</div>
<div class="alertContainer" ng-show="emailTaken">
	<div class="alertBox">
		<div class="alertTitle">Sorry! The Email <span class="spanEmail">{{invalidEmail}} </span> is already associated with another account. Please Enter an Alternative Email</div>
		<form novalidate name="ownerForm" ng-submit="ownerForm.$valid && setUserEmail(ownerEmail)">
			<input class="alertEmailInput" required="required" type="email" placeholder="Enter your email id" ng-model="ownerEmail">
			<div class="alertDone"><input type="submit" name="submitButton" value="Add" class="alertDoneBtn"></div>
		</form>
		<img src="img/cross.png" class="cancelAlert" ng-click="ownerDecline()">
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.fader img:gt(0)').hide();
		setInterval(function(){
			$('.fader :first-child').fadeOut()
			.next('img').fadeIn()
			.end().appendTo('.fader');
		},3000);

		window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
	});

</script>
