<div class="headerBeta">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtn">Blog</span></a>
				<a href="/"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="/"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="http://klassy.in/blog" target="_blank"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="sectionHeader white">Did we get your attention?</div>
	</div>
</div>
<div class="section storeSection">
	<div class="wrapper">
		<div class="sectionHeader">Feel free to contact us!</div>
		<div class="sectionSubHeader">We'd love to hear your suggestions and feedback. Don't hesitate to get in touch, we're just a mail away!</div>
		<span class="sectionSubHeader">Drop us an email</span><br/>
		<a class="bigA" href="">contact@klassy.in</a>
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<img src="img/social/facebook.png" class="socialIcon">
			<img src="img/social/twitter.png" class="socialIcon">
			<img src="img/social/linkedin.png" class="socialIcon">
			<img src="img/social/crunchbase.png" class="socialIcon">
			<img src="img/social/angellist.png" class="socialIcon">
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://klassy.in/blog" target="_blank"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>