<div class="headerBeta">
	<div class="wrapper">
		<div class="navBar">
			<div class="klassy">
				<a href="about"><span class="navBarBtn">About</span></a>
				<a href="http://www.klassy.in/blog"><span class="navBarBtn">Blog</span></a>
				<a href="home"><img class="appName" src="img/logo/logo-hd.png"></a>
				<a href="contact"><span class="navBarBtn">Contact</span></a>
				<a href="faq"><span class="navBarBtn">Faq</span></a>
			</div>
			<div class="klassyMobile">
				<a href="home"><img class="appNameMobile" src="img/logo/logo-hd.png"><br/></a>
				<a href="about"><span class="navBarBtnMobile">About</span></a>
				<a href="bhttp://www.klassy.in/bloglog"><span class="navBarBtnMobile">Blog</span></a>
				<a href="contact"><span class="navBarBtnMobile">Contact</span></a>
				<a href="faq"><span class="navBarBtnMobile">Faq</span></a>
			</div>
		</div>
		<div class="sectionHeader white">Sign up for our beta program</div>
		<div class="sectionSubHeader lightWhite">Get early access to our offerings by signing in with your Facebook account.</div>
		<div class="userSignInline withoutLine">
				<span class="signUpFacebook  facebookColor">Join using Facebook</span>
				<div class="extraLarge"></div>
		</div>
		<div class="userSignInlineComplete withoutLine">
				<span class="shareFacebook facebookColor">Share</span><span class="shareTwitter">Tweet</span>
				<div class="extraLarge"></div>
		</div>
	</div>
</div>
<div class="section">
	<div class="wrapper">
		<div class="sectionHeader">Our Value Proposition</div>
		<div class="sectionSubHeader sText">Klassy aims to be the go-to platform for local lifestyle discovery and engagement by offering you a variety of features and services.</div>
		<div class="userFeatureContainer">
			<div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b8.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Trending Nearby</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Get to know what's hip and happening in your locality - fashion trends, new openings and more!</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b2.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Map Based Search</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Intuitive map based interface to search for products, services and stores.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b6.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Coupons & Offers</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Check out offers from nearby brands and get location based recommendations.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b4.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Chat with Brands</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Use our messaging service to directly get in touch with brands for quick enquiries.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b5.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Product Showcase</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Save time shop hopping by viewing products and services in the online showcase.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b1.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Quality Listings</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">All of our data is complete, consise, correct and curated. No need to look elsewhere.</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b3.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Create Collections</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Instantly create and manage collections. Example, 'Best Shades for this Summer'</span>
				</div>
			</div><div class="userFeature">
				<div class="userFeaturerImgContainer">
					<img class="userFeatureImg" src="img/beta/b7.png">
				</div><div class="userFeatureDetail">
					<span class="userFeatureHeader hash21">Awesome Community</span><br/>
					<div class="extra"></div>
					<span class="userFeatureSubHeader sText">Follow stores, upvote collections and be a part of an awesome community!</span>
				</div>
			</div>
		</div>
</div>
</div>
<footer>
	<div class="wrapper">
		<div class="footerContainer social">
			<img src="img/social/facebook.png" class="socialIcon">
			<img src="img/social/twitter.png" class="socialIcon">
			<img src="img/social/linkedin.png" class="socialIcon">
			<img src="img/social/crunchbase.png" class="socialIcon">
			<img src="img/social/angellist.png" class="socialIcon">
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer links">
			<a href="http://www.klassy.in/blog"><span class="blogLink footerLink">Blog</span></a>
			<a href="about"><span class="aboutLink footerLink">About</span></a>
			<a href="contact"><span class="contactLink footerLink">Contact</span></a>
			<a href="faq"><span class="faqLink footerLink">Faq</span></a>
		</div>
		<div class="lineBreak"><br/></div>
		<div class="footerContainer copyright">
			<img class="footerIcon" src="img/logo/logo-purple.png"><br/>
			<span class="copyText">Copyright  &copy;  2015</span>
		</div>
	</div>
</footer>