/* General CSS Starts Here */
@font-face {
  font-family: 'GothamM';
  src: local("GothamM"), url("../fonts/gotham-medium.otf") format("truetype"); }
* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 10px;
  background: transparent; }

::-webkit-scrollbar-track {
  background: #FFF;
  width: 0px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(33, 33, 33, 0.2); }

/* General CSS Ends Here */
/* Layout Style */
html {
  width: 100%; }

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "GothamM"; }

.header {
  position: relative;
  width: 100%;
  background: #512da8;
  overflow: hidden;
  border-bottom: 10px solid #f4f4f4; }

.headerBeta {
  position: relative;
  width: 100%;
  background: #512da8;
  overflow: hidden;
  padding-bottom: 50px; }

.headerBetaAbout {
  position: relative;
  width: 100%;
  background: #512da8;
  overflow: hidden; }

.header:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/landing.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.4; }

.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
  max-width: 1200px; }

.navBar {
  position: relative;
  width: 100%;
  padding: 30px 0px 10px 0px;
  color: white;
  font-family: "GothamM";
  text-align: center; }

.appName {
  position: relative;
  font-family: "GothamM";
  color: white;
  height: 100px;
  display: inline-block; }

.appNameMobile {
  position: relative;
  font-family: "GothamM";
  color: white;
  height: 70px;
  display: inline-block; }

.klassy {
  position: relative;
  margin-bottom: 10px; }

.klassyMobile {
  position: relative;
  margin-bottom: 5px;
  display: none; }

/*
.klassy:before{
	content:'';
	position:absolute;
	top:50%;
	width:200px;
	left:0px;
	margin-left:300px;
	border-bottom:1px solid rgba(white,0.8);
}
.klassy:after{
	content:'';
	position:absolute;
	top:50%;
	width:200px;
	right:0px;
	margin-right:300px;
	border-bottom:1px solid rgba(white,0.8);
}
*/
.signUp {
  position: relative;
  font-size: 15px;
  display: inline-block;
  width: 180px;
  background: white;
  border-radius: 300px;
  padding: 8px 0px;
  text-transform: uppercase;
  color: #512DA8;
  text-align: center;
  font-family: "GothamM";
  margin: 5px 5px; }

.signUpBtn {
  position: relative;
  font-size: 15px; }

.headerTitle {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-family: "GothamM";
  color: white;
  padding: 30px 0px; }

.screenshot {
  position: relative;
  width: 100%;
  top: 5px;
  padding-top: 40px; }

.signUpTitle {
  position: relative;
  width: 100%;
  padding-bottom: 10px; }

.signUpText {
  position: relative;
  font-family: "GothamM";
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  padding: 10px 10px; }

.lowerBorder {
  position: relative;
  width: 40%;
  height: 1px;
  min-width: 400px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto; }

.signUp:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8); }

.navBarBtn {
  text-transform: uppercase;
  color: white;
  margin: 0px 10px;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  padding: 0px 5px 5px 5px; }

.navBarBtn:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white; }

.navBarBtnMobile {
  text-transform: uppercase;
  color: white;
  margin: 10px 10px;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  padding: 0px 5px 5px 5px; }

.navBarBtnMobile:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white; }

.section {
  position: relative;
  background: white;
  text-align: center;
  padding-bottom: 60px;
  width: 100%;
  overflow-x: hidden; }

.sectionHeader {
  position: relative;
  font-size: 30px;
  font-family: "GothamM";
  padding: 80px 0px 0px 0px;
  color: #212121;
  width: 80%;
  margin: 0 auto; }

.sectionSubHeader {
  position: relative;
  font-size: 20px;
  font-family: "GothamM";
  padding: 10px 0px 30px 0px;
  color: #727272;
  width: 85%;
  margin: 0 auto; }

.catContentBox {
  position: relative;
  width: 300px;
  display: inline-block;
  margin: 5px;
  margin: 10px 0px; }

.catContentImg {
  position: relative;
  width: 100%;
  padding: 10px 110px 10px 110px; }

.catContentTitle {
  position: relative;
  font-size: 15px;
  color: #212121;
  font-family: "GothamM";
  text-transform: uppercase; }

.userSection {
  background: rgba(33, 33, 33, 0.9); }

.phoneImgContainer {
  position: relative;
  width: 25%;
  display: inline-block;
  margin-top: 50px; }

.phoneImgInnerContainer {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0px;
  top: 0px;
  display: inline-block; }

.phoneImg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%; }

.sliderImg {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  width: 100%; }

.userFeatureContainer {
  position: relative;
  width: 75%;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  vertical-align: top; }

.profileContainer {
  width: 100%; }

.userFeature {
  position: relative;
  width: 320px;
  vertical-align: top;
  display: inline-block;
  margin: 10px 10px 20px 10px;
  border-radius: 3px; }

.userFeaturerImgContainer {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top; }

.userFeatureDetail {
  position: relative;
  display: inline-block;
  width: 220px;
  text-align: left;
  padding-top: 10px; }

.userFeatureImg {
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px 15px; }

.userFeatureHeader {
  position: relative;
  font-family: "GothamM";
  text-transform: uppercase;
  color: white;
  font-size: 15px; }

.userFeatureSubHeader {
  position: relative;
  color: #929292;
  font-size: 15px; }

.extra {
  margin: 8px; }

.extraLarge {
  margin: 25px; }

.extraMedium {
  margin: 15px; }

.userSignUpForm {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgba(33, 33, 33, 0.5); }

.storeSection {
  position: relative;
  background: white; }

.white {
  color: white; }

.userSignInline {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 7%; }

.userSignInlineComplete {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 7%; }

.userSignInlineMessage {
  color: white;
  font-size: 15px;
  font-family: "GothamM";
  text-transform: uppercase;
  padding: 10px 0px; }

.signUpFacebook {
  color: white;
  font-size: 15px;
  font-family: "GothamM";
  padding: 8px 20px;
  background: rgba(59, 89, 152, 0.7);
  border-radius: 300px; }

.signUpFacebook:hover {
  cursor: pointer;
  background: #3b5998; }

.shareFacebook {
  display: inline-block;
  color: white;
  font-size: 15px;
  font-family: "GothamM";
  padding: 6px 15px;
  margin: 0px 10px;
  background: rgba(59, 89, 152, 0.7);
  border-radius: 5px;
  top: -8px;
  position: relative; }

.shareTwitter {
  display: inline-block;
  color: white;
  font-size: 15px;
  font-family: "GothamM";
  padding: 8px 20px;
  margin: 0px 10px;
  background: rgba(64, 153, 255, 0.7);
  border-radius: 300px; }

.shareFacebook:hover {
  cursor: pointer;
  background: #3b5998; }

.shareTwitter:hover {
  cursor: pointer;
  background: #4099ff; }

.storeFeature {
  position: relative;
  width: 320px;
  vertical-align: top;
  display: inline-block;
  margin: 10px 20px 20px 20px;
  border-radius: 3px; }

.storeFeature:hover .storeFeatureHeader {
  color: #212121; }

.storeFeaturerImgContainer {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top; }

.storeFeatureDetail {
  position: relative;
  display: inline-block;
  width: 220px;
  text-align: left;
  padding-top: 10px; }

.storeFeatureImg {
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px 15px; }

.storeFeatureHeader {
  position: relative;
  font-family: "GothamM";
  text-transform: uppercase;
  color: #212121;
  font-size: 15px; }

.storeFeatureSubHeader {
  position: relative;
  color: #727272;
  font-size: 15px; }

.storeSignInline {
  position: relative;
  border-top: 1px solid rgba(33, 33, 33, 0.1);
  margin: 0px 5px; }

.storeIncomplete {
  display: block; }

.storeSignInlineMessage {
  color: #212121;
  font-size: 15px;
  font-family: "GothamM";
  text-transform: uppercase;
  padding: 10px 0px; }

.storeSignInlineSubMessage {
  color: #727272;
  font-size: 15px;
  padding: 15px 0px;
  font-family: "GothamM"; }

.userSignInlineSubMessage {
  color: #727272;
  font-size: 15px;
  padding: 15px 0px;
  font-family: "GothamM"; }

.storeInputContainer {
  position: relative;
  width: 250px;
  display: inline-block;
  margin: 10px 0px; }

.storeInput {
  position: relative;
  padding: 5px 10px;
  height: 40px;
  width: 240px;
  margin: 0px 5px;
  line-height: 35px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  font-size: 18px; }

.storeInput.ng-invalid.ng-dirty {
  border-bottom: 2px solid red; }

.storeInput.ng-invalid.ng-touched {
  border-bottom: 2px solid red; }

.storeInput:focus {
  border-bottom: 2px solid #512DA8; }

.callBack {
  position: relative;
  font-size: 15px;
  color: white;
  margin-top: 30px; }

.callBackBtn:hover {
  cursor: pointer;
  background: rgba(81, 45, 168, 0.8); }

.callBackBtn {
  position: relative;
  text-transform: uppercase;
  padding: 8px 15px;
  font-family: "GothamM";
  border-radius: 300px;
  color: white;
  outline: 0 !important;
  background: #512da8;
  border: 1px solid #512DA8; }

.callBackBtnWhite:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8); }

.callBackBtnWhite {
  position: relative;
  text-transform: uppercase;
  padding: 8px 15px;
  font-family: "GothamM";
  border-radius: 300px;
  color: #512DA8;
  outline: 0 !important;
  border: none;
  background: white; }

.callBackLoading {
  height: 35px;
  display: none; }

.dashboardImg {
  position: relative;
  padding: 40px 40px 0px 40px;
  width: 100%;
  margin: 0 auto; }

.problem {
  pointer: relative;
  background: #e6e6e6; }

.mission {
  font-size: 18px;
  padding: 20px 50px; }

.purple {
  color: #212121; }

.primary {
  color: #512DA8 !important; }

footer {
  position: relative;
  background: #212121;
  text-align: center;
  padding-bottom: 60px; }

.footerContainer {
  position: relative;
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
  vertical-align: top;
  padding-top: 20px; }

.social {
  text-align: center; }

.copyright {
  text-align: center; }

.footerIcon {
  color: #512DA8;
  font-family: "GothamM";
  height: 40px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top; }

.copyText {
  color: white;
  font-size: 12px; }

.footerLink {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 0px 10px;
  text-align: center;
  font-family: "GothamM"; }

.footerLink:hover {
  cursor: pointer;
  color: #727272; }

.socialIcon {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0px 2px;
  border-radius: 3px; }

.socialIcon:hover {
  cursor: pointer;
  opacity: 0.5; }

.lineBreak {
  height: 0px;
  display: none; }

a {
  text-decoration: none;
  color: #512DA8;
  font-family: "GothamM"; }

.white {
  color: white;
  padding-top: 40px !important; }

.lightWhite {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 50px; }

.withoutLine {
  border: none; }

.whiteBorder {
  border: 1px solid rgba(255, 255, 255, 0.1); }

.facebookColor {
  background: #3b5998; }

.facebookColor:hover {
  background: rgba(59, 89, 152, 0.9); }

.hash21 {
  color: #212121 !important; }

.sText {
  color: #727272; }

.faqContainer {
  position: relative;
  width: 70%;
  text-align: left;
  margin: 0 auto;
  padding: 10px 0px; }

.question {
  color: #512DA8;
  font-size: 18px;
  font-family: "GothamM";
  padding: 10px 0px; }

.answer {
  color: #212121;
  font-size: 15px;
  padding: 10px 0px;
  text-align: justify; }

.faqSection {
  padding-top: 20px; }

.bigA {
  font-size: 18px;
  line-height: 50px; }

.phonecut {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 0px 3%;
  margin-bottom: -5px; }

.center {
  text-align: center !important;
  padding-top: 0px !important; }

.bold {
  font-family: "GothamM" !important; }

.twitterLink {
  padding-top: 5px;
  width: 12%; }

.twitterLink:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1); }

.profileImg {
  width: 90%;
  border-radius: 500px;
  padding: 10% 10%; }

.lessPadding {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

.smallHeader {
  font-size: 18px;
  padding: 25px 0px 10px 0px !important;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }

.techStack {
  color: white;
  font-family: "GothamM";
  font-size: 15px;
  margin: 20px 10px;
  line-height: 70px;
  background: #212121;
  padding: 10px 30px;
  border-radius: 300px; }

.techStack:hover {
  color: white;
  background: #512da8; }

.swiper-container {
  width: 100%;
  height: 100%; }

.alertContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.8);
  z-index: 100; }

.alertBox {
  position: relative;
  margin: 0 auto;
  top: 50%;
  margin-top: -100px;
  width: 45%;
  background: white;
  border-radius: 3px;
  text-align: center; }

.alertTitle {
  padding: 30px;
  margin-top: 25px;
  font-size: 15px; }

.alertEmailInput {
  position: relative;
  padding: 5px 10px;
  height: 40px;
  width: 70%;
  margin: 0px 5px;
  line-height: 35px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  font-size: 18px;
  text-align: center; }

.alertEmailInput.ng-invalid.ng-dirty {
  border-bottom: 2px solid red; }

.alertEmailInput.ng-invalid.ng-touched {
  border-bottom: 2px solid red; }

.alertEmailInput:focus {
  border-bottom: 2px solid #512DA8; }

.alertDone {
  position: relative;
  margin: 20px 0px;
  padding-bottom: 20px; }

.alertDoneBtn {
  color: white;
  background: #512da8;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 15px;
  border: 1px solid #512DA8;
  display: inline-block;
  margin: 0px 10px;
  text-transform: uppercase; }

.alertDoneBtn:hover {
  cursor: pointer;
  background: rgba(81, 45, 168, 0.8); }

.cancelAlert {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  padding: 10px; }

.cancelAlert:hover {
  cursor: pointer;
  opacity: 0.5; }

.spanEmail {
  color: #512DA8; }

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .phoneImgContainer {
    width: 35%; }

  .phoneImgContainerMobile {
    display: block; }

  .userFeatureContainer {
    width: 100%; }

  .userFeature {
    position: relative;
    width: 320px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 20px 20px 20px;
    border-radius: 3px; }

  .klassy {
    display: none; }

  .klassyMobile {
    display: block; }

  .lineBreak {
    display: block; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  .wrapper {
    width: 90%; }

  .phoneImgContainer {
    width: 35%; }

  .phoneImgContainerMobile {
    display: block; }

  .userFeatureContainer {
    width: 100%; }

  .userFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeatureDetail {
    width: 200px; }

  .userFeatureDetail {
    width: 200px; }

  .klassy {
    display: none; }

  .klassyMobile {
    display: block; }

  .lineBreak {
    display: block; }

  .sectionHeader {
    font-size: 27px; }

  .sectionSubHeader {
    font-size: 17px; }

  .headerTitle {
    font-size: 30px; } }
@media screen and (min-width: 480px) and (max-width: 720px) {
  .wrapper {
    width: 90%; }

  .phoneImgContainer {
    width: 45%; }

  .phoneImgContainerMobile {
    display: block; }

  .userFeatureContainer {
    width: 100%; }

  .userFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeatureDetail {
    width: 200px; }

  .userFeatureDetail {
    width: 200px; }

  .klassy {
    display: none; }

  .klassyMobile {
    display: block; }

  .lineBreak {
    display: block; }

  .sectionHeader {
    font-size: 25px; }

  .sectionSubHeader {
    font-size: 16px; }

  .headerTitle {
    font-size: 27px; }

  .catContentBox {
    position: relative;
    width: 220px;
    display: inline-block;
    margin: 5px;
    margin: 10px 0px; }

  .catContentImg {
    padding: 10px 80px 10px 80px; }

  .alertBox {
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -100px;
    width: 65%;
    background: white;
    border-radius: 3px;
    text-align: center; } }
@media screen and (min-width: 360px) and (max-width: 480px) {
  .wrapper {
    width: 90%; }

  .phoneImgContainer {
    width: 45%; }

  .phoneImgContainerMobile {
    display: block; }

  .userFeatureContainer {
    width: 100%; }

  .userFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeature {
    position: relative;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 10px 10px 20px 10px;
    border-radius: 3px; }

  .storeFeatureDetail {
    width: 200px; }

  .userFeatureDetail {
    width: 200px; }

  .klassy {
    display: none; }

  .klassyMobile {
    display: block; }

  .lineBreak {
    display: block; }

  .sectionHeader {
    font-size: 25px; }

  .sectionSubHeader {
    font-size: 16px; }

  .headerTitle {
    font-size: 27px; }

  .catContentBox {
    position: relative;
    width: 50%;
    display: inline-block;
    margin: 5px;
    margin: 10px 0px; }

  .catContentImg {
    padding: 10px 55px 10px 55px; }

  .catContentTitle {
    font-size: 13px; }

  .alertBox {
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -100px;
    width: 70%;
    background: white;
    border-radius: 3px;
    text-align: center; } }
@media screen and (min-width: 50px) and (max-width: 360px) {
  .wrapper {
    width: 90%; }

  .phoneImgContainer {
    width: 65%; }

  .lowerBorder {
    width: 100%;
    display: none; }

  .signUpTitle {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

  .phoneImgContainerMobile {
    display: block; }

  .userFeatureContainer {
    width: 100%; }

  .userFeature {
    width: 90%; }

  .storeFeature {
    width: 90%; }

  .userFeatureHeader {
    font-size: 13px; }

  .storeFeatureHeader {
    font-size: 13px; }

  .storeFeatureDetail {
    width: 70%; }

  .userFeatureDetail {
    width: 70%; }

  .klassy {
    display: none; }

  .klassyMobile {
    display: block; }

  .lineBreak {
    display: block; }

  .sectionHeader {
    font-size: 22px; }

  .sectionSubHeader {
    font-size: 15px; }

  .headerTitle {
    font-size: 22px; }

  .catContentBox {
    position: relative;
    width: 50%;
    display: inline-block;
    margin: 5px;
    margin: 10px 0px; }

  .catContentImg {
    padding: 10px 45px 10px 45px; }

  .catContentTitle {
    font-size: 13px; }

  .userFeaturerImgContainer {
    width: 30%;
    height: 30%; }

  .storeFeaturerImgContainer {
    width: 30%;
    height: 30%; }

  .navBarBtnMobile {
    font-size: 12px;
    margin: 10px 5px;
    padding-bottom: 0px; }

  .userFeatureImg {
    padding: 15px 15px 15px 0px; }

  .storeFeatureImg {
    padding: 15px 15px 15px 0px; }

  .userFeatureSubHeader {
    font-size: 15px; }

  .storeFeatureSubHeader {
    font-size: 15px; }

  .alertBox {
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -100px;
    width: 75%;
    background: white;
    border-radius: 3px;
    text-align: center; } }

/*# sourceMappingURL=landing.css.map */
